---
import LanguageSelect from 'virtual:starlight/components/LanguageSelect';
---

<div class="mobile-menu-footer">
  <LanguageSelect />
</div>

<style>
  .mobile-menu-footer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>
