---
import Card from "../temple/Card.astro";
import ScrollToTop from "../widgets/ScrollToTop.astro";
// ThemeToggle removed: dark mode disabled
---

<Card>
  <div class="toolbar-container p-4">
    <div class="flex justify-center items-center gap-4">
      <slot />
    </div>
  </div>
</Card>

<ScrollToTop />
